body {background-color: blueviolet;
  margin: 0;
}
.encabezado {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px;
  flex-direction: row;
}
.pops {
  display: flex;
  width: 10%;

}

.Flexos {
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100px;
    flex-wrap: wrap;
}

.cajones{
  margin: 20%;
    display:flex;
    height: 90px;
    width: 120px;
    justify-content: center;
    font-weight: bold;
    background-color: brown;
}

#in1 {
  color: blueviolet;

}